	<div class="container-fluid">
		<div class="row">
		<div class="col-xs-6">
			<%= image_tag("lepetitprince2.jpg") %>
			<h1>Featuring Story</h1></div>
		<div class="col-xs-6"><h4>Chapter 2: The adventure </h4></div>
			<%= image_tag("#") %>
			<h4>Author: Hannah Purple</h4></div>
	</div>
</div>

